.futureWeatherContainer {
    display: flex;
    justify-content: space-between;
    margin: 35px auto;
    width: 50%;
    border-top: 1px solid #DDDDDD;
    padding-top: 15px;
    color: #fff;

    @media screen and (max-width: 1030px) {
        width: 75%;
    }

    @media screen and (max-width: 390px) {
        margin: 15px auto;
    }

    &__day {
        margin-right: 30px;
    }

    &__loading {
        width: 130px;
        margin: 0 auto;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 50%;
        text-align: center;
    }
}